name: CI
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Run Tests
      run: |
        cd components/producer
        pip install -r requirements.txt
        pytest --cov=. --cov-fail-under=100